.top-clickers-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: auto;

  margin-top: 10px;
}

.top-clickers-wrapper h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
}

.top-clickers-wrapper ul {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 50%;
  width: 100%;
}

