@font-face {
    font-family: 'Ozone';
    src: url('../../../fonts/ozone-font/Ozone-xRRO.ttf') format('truetype');
}

:root {
    --pop-scale: 1.1;
}

.click-counter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    overflow: hidden;
}

.score {
    font-size: 20rem;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease;
    transform-origin: center;

    font-family: 'Ozone', sans-serif;
    color: red;
}

@keyframes score-pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(var(--pop-scale));
    }
    100% {
      transform: scale(1);
    }
  }