.maze-under-wrapper {
    display: grid;
    gap: 0; /* No spacing between grid cells */
    width: 90%;
    height: 90%;
}

.maze-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.maze-cell {
    width: 100%;
    background-color: transparent;
    border: 2px solid transparent; /* Default: No border */
    background-color: white;
}

/* Add specific borders */
.border-top {
    border-top-color: black;
}
.border-bottom {
    border-bottom-color: black;
}
.border-left {
    border-left-color: black;
}
.border-right {
    border-right-color: black;
}
